<div class="vexere_info_wrapper">

  <!-- Hình xe -->
  <div class="vexere_bus_image_wrapper">
    {{#switch detail.Bus.type}}
    {{#case 1}}<img src="/assets/bus-img2.png" alt="Hinh xe">{{/case}}
    {{#case 2}}<img src="/assets/bushouse(1).jpeg" alt="Hinh xe">{{/case}}
    {{#case 3}}<img src="/assets/thue-xe-may-da-lat-4.jpg" alt="Hinh xe">{{/case}}
    {{/switch}}
  </div>

  <!-- Thông tin cơ bản đi đến -->
  <div>
    <h3 class="js-bus-house-name"> {{detail.Bus.BusHouse.Name}} </h3>
    <p>
      <span class="js-bus-type">Loại xe
        {{#switch detail.Bus.type}}
        {{#case 1}}Xe Bus ghế ngồi{{/case}}
        {{#case 2}}Xe Bus giường nằm{{/case}}
        {{#case 3}}Xe Limousine{{/case}}
        {{/switch}}
      </span>
    </p>
    <div class="vexere_time_container">
      <div class="vexere_departure_icon">
        <div>
          <img style="width: 100%;" src="/assets/from-icon.png" alt="icon" />
        </div>
        <div style="flex:1; display:flex; align-items: center;">
          <img style="width: 100%;" src="/assets/dot-line.png" alt="icon" />
        </div>
        <div>
          <img style="width: 100%;" src="/assets/to-icon.png" alt="icon" />
        </div>
      </div>
      <div>
        <h3 class="js-from-time">{{detail.startTime}}</h3>
        <p class="js-from-location">{{route.Location_Route_startLocIdToLocation.name}}</p>
      </div>
      <div>
        <h3 class="js-to-time">{{detail.endTime}}</h3>
        <p class="js-to-location">{{route.Location_Route_endLocIdToLocation.name}}</p>
      </div>

    </div>
  </div>

  <!-- Giá và chi tiết -->
  <div class="vexere_gia_brief_info">
    <h3 class="js-ticket-price">Từ {{detail.price}} VND</h3>
    <div>
      <h3><span class="js-empty-seat">{{detail.remainSeat}}</span> chỗ còn trống</h3>
    </div>
    <div class="vexere_info_action">
      <h4><a target="_blank" href="/house?houseId={{detail.Bus.busHouse}}">
          Thông tin chi tiết
        </a>
        <img src="/assets/down-arrow.png" alt="" />
      </h4>
      <form method="post" target="_blank" action="/api/ticket">
        <input type="number" name="detailId" style="display: none;" value="{{detail.id}}" readonly>
        <button>Đặt vé</button>
      </form>
    </div>
  </div>

</div>