<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/css/global.css">

  <link rel="stylesheet" href={{ cssPath }}>


</head>

<body>
  <!--header-->
  {{!-- <nav class="navbar navbar-expand-lg bg-light p-3">
    <div class="container-fluid">
      <a href="#" class="brand">
        <img src="/assets/icon_vxr_full.svg" alt="Logo" />
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Thuê xe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Trở thành đối tác</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">EN</a>
            </li>
            <li class="nav-item">
              {{#if userName}}
                <a class="nav-link active" aria-current="page" href="#">{{userName}}</a>
              {{else}}
                <a class="nav-link active" aria-current="page" href="#">Đăng nhập</a>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> --}}
  <!--/header-->
  <nav>
    <div class="container">
      <div class="nav-container">
          <div class="nav-logo">
            <a href="#" class="logo-link">
              <img src="/assets/icon_vxr_full.svg" alt="Logo" />
            </a>
          </div>
          <div class="nav-links">
            <ul class="nav-ul">
                <li class="nav-li-item">
                  <a class="nav-link" aria-current="page" href="#">Thuê xe</a>
                </li>
                <li class="nav-li-item">
                  <a class="nav-link" aria-current="page" href="#">Trở thành đối tác</a>
                </li>
                <li class="nav-li-item">
                  <a class="nav-link" aria-current="page" href="#">EN</a>
                </li>
                <li class="nav-li-item">
                  {{#if userName}}
                    <a class="nav-link active user_loggedin" aria-current="page" href="#">{{userName}}</a>
                  {{else}}
                    <button class="login"><a class="nav-link active" aria-current="page" href="#">Đăng nhập</a></button>
                  {{/if}}
                </li>
              </ul>
          </div>
      </div>
      
    </div>
  </nav>


  {{{body}}}

  <!--footer-->
  <footer class="container-fluid text-center footer">
    Copyright &copy; 2022 by Group09-20KTPM04
    <br>
    CONTACT US:
    <br>
    Phone: +84 808 333 333
    <br>
    Address: 227 Nguyen Van Cu, District 5, HCMC
    <br>
    Email: group09project@gmail.com
    <br>
  </footer>
  <!--/footer-->

</body>

</html>
</body>