<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/DetailBooking.css"/>

<main class="container mt-5">
    <div class="row">
        <div class="ticket-information col-8">
            <h4 class="text-primary payment-status">
                {{paymentStatus}}
            </h4>
            <p>
                Chúng tôi đã gửi thông tin chuyến đi đến SĐT
                <b>{{userPhone}}</b> và email <b>{{userEmail}}</b>, bạn
                hãy kiểm tra thật kĩ nhé!
            </p>
            <hr />

            <h5 class="general-information">Thông tin vé</h5>
            <h6 class="license-plate">Biển số xe</h6>
            <div class="btn-group mt-2 mb-5">
                <button type="button" class="btn btn-dark rounded">
                    {{ detail.Bus.plate }}
                </button>
                <div class="vl"></div>
                <button type="button" class="btn btn-warning rounded">
                    Vị trí xe
                </button>
            </div>

            <h6 class="phone-number">Số điện thoại</h6>

            <div class="container">
                <div class="row">
                    <p class="col-6 fw-bold">Phụ xe 1:</p>
                    <p class="col-6 text-primary">{{staffPhone}}</p>
                </div>

                <div class="row">
                    <p class="col-6 fw-bold">Tài xế 1:</p>
                    <p class="col-6 text-primary">{{driverPhone}}</p>
                </div>

                <div class="row">
                    <p class="col-6 fw-bold">Hotline:</p>
                    <p class="col-6 text-primary">{{hotlinePhone}}</p>
                </div>
            </div>

            <p>
                <b>Lưu ý: </b>
                Mọi thông tin về chuyến đi sẽ được VeXeRe thông báo đến
                quý khách qua email ngay sau khi nhà xe cập nhật thông
                tin. Thông thường nhà xe sẽ cập nhật thông tin này trễ
                nhất 15-30 phút trước giờ khởi hành tuỳ thuộc vào kế
                hoạch của nhà xe.
            </p>
            <p>
                Nếu gặp vấn đề khi ra xe, quý khách vui lòng liên hệ
                theo số Hotline của nhà xe
            </p>
            <hr />

            <h5 class="guiding">Hướng dẫn lên xe</h5>

            <p>
                Bạn cần ra điểm đón trước 15 phút, đưa SMS hoặc email
                xác nhận thanh toán của VeXeRe cho nhân viên văn phòng
                vé để đổi chứng từ giấy.
            </p>

            <p>
                Khi lên xe, bạn xuất trình chứng từ giấy cho tài xế hoặc
                phụ xe
            </p>
            <hr />

            <h5 class="pick-up-des">Điểm đón</h5>
            <h6>{{route.Location_Route_startLocIdToLocation.name}}</h6>
            <p class="text-secondary">{{pickUpAddress}}</p>
            <p>Đón lúc: <b>{{detail.startTime}}</b></p>

            <hr />

            <h5 class="drop-off-des">Điểm trả</h5>
            <h6>{{route.Location_Route_endLocIdToLocation.name}}</h6>
            <p class="text-secondary">{{dropOffAddress}}</p>
            <p>Trả lúc: <b>{{detail.endTime}}</b></p>

            <hr />

            <h5 class="policy">Chính sách</h5>
            <h6>Huỷ đơn hàng và hoàn tiền</h6>

            <li>Không hỗ trợ huỷ vé</li>
            <li>Còn 2 ngày nữa khởi hành</li>

            <a href="#" class="btn btn-danger w-100 mt-2"> Huỷ vé </a>

        </div>
        <div class="col-4 container">
            <div class="row user-information container">
                <div class="row">
                    <h5>Thông tin chuyến đi</h5>
                    <h6 class="text-secondary">MÃ ĐƠN HÀNG</h6>
                    <p>{{ ticket.id }}</p>
                </div>

                <hr />
                <div class="row">
                    <h6 class="text-secondary">HỌ VÀ TÊN</h6>
                    <p>{{ user.name }}</p>
                </div>

                <hr />
                <div class="row">
                    <h6 class="text-secondary">SỐ ĐIỆN THOẠI</h6>
                    <p>{{ user.phone }}</p>
                </div>

                <hr />
                
                <div class="row">
                    <h6 class="text-secondary">EMAIL</h6>
                    <p>{{ user.email }}</p>
                </div>

                <hr />
                <div class="row">
                    <h6 class="text-secondary">NHÀ XE</h6>
                    <p>{{ detail.Bus.BusHouse.Name }}</p>
                </div>

                <hr />
                <div class="row">
                    <h6 class="text-secondary">TUYẾN ĐƯỜNG</h6>
                    <p>
                        {{ route.Location_Route_startLocIdToLocation.name }}
                        -
                        {{ route.Location_Route_endLocIdToLocation.name }}
                    </p>
                </div>

                <hr />
                <div class="row">
                    <h6 class="text-secondary">LOẠI XE</h6>
                    <p>{{ detail.Bus.type }}</p>
                </div>

                {{!-- <hr />
                <div class="row">
                    <h6 class="text-secondary">MÃ GHẾ</h6>
                    <p>{{seat}}</p>
                </div> --}}
            </div>
            <div class="row payment-information container">
                <h5>Thông tin giao dịch</h5>

                <div class="row">
                    <h6 class="col-6">Phương thức thanh toán</h6>
                    <p class="col-6 text-end">{{paymentMethod}}</p>
                </div>

                <hr />

                <div class="row">
                    <h6 class="col-6">Trạng thái</h6>
                    <p class="col-6 text-end">{{transactionStatus}}</p>
                </div>

                <hr />

                <div class="row">
                    <h6 class="col-6">Giá vé</h6>
                    <p class="col-6 text-end">{{price}}</p>
                </div>

                <hr />

                <div class="row">
                    <h6 class="col-6">Tổng tiền</h6>
                    <p class="col-6 text-end fw-bold">{{totalPrice}}</p>
                </div>
            </div>

            {{#if payUrl}}
            <div class="row payment container">
                <a class="col-6 h6 btn btn-primary my-3" href={{ payUrl }} target="_blank"> Thanh toán </a>
            </div>
            {{/if}}
        </div>
    </div>
</main>


<div class="w-100 fixed-bottom p-2 bg-light border-1">
    <a href="#" class="btn btn-primary w-100"> Đặt vé khứ hồi </a>
</div>