<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

<main>
    <div class="route-detail-form container w-50">
        <h2> Chỉnh sửa tuyến xe </h2>
        <form action="/api/route_detail/edit/{{id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value={{id}}>

            <label for="number"> Mã xe </label>
            <input type="number" id="busId" name="busId" placeholder="Mã xe" class="form-control my-3 required" value={{busId}} />

            <label for="number"> Giá tuyến xe </label>
            <input type="number" id="price" name="price" placeholder="Giá tuyến xe" value={{price}}
                class="form-control my-3 required" />

            <label for="startTime"> Thời gian khởi hành </label>
            <input type="datetime-local" id="startTime" name="startTime" placeholder="Thời gian khởi hành" value={{startTime}}
                class="form-control my-3 required" />

            <label for="endTime"> Thời gian đến </label>
            <input type="datetime-local" name="endTime" name="endTime" placeholder="Thời gian đến" value={{endTime}}
                class="form-control my-3 required" />

            <label for="remainSeat"> Số ghế </label>
            <input type="number" id="remainSeat" name="remainSeat" placeholder="Số ghế" value={{remainSeat}}
                class="form-control my-3 required" />
            
            <label for="routeId"> Mã tuyến </label>
            <input type="number" id="routeId" name="routeId" placeholder="Mã tuyến" value={{routeId}}
                class="form-control my-3 required" />
            
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>
</main>